<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cs460hw8ming.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>cs460hw8ming.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CS460HW8Ming</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CS460HW8Ming</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HW8Context" Order="1" Enabled="False">
          <Destination Path="Data Source=cs460hw8ming.database.windows.net;Initial Catalog=CS460HW8Ming;Persist Security Info=True;User ID=liming;Password=09NOTloser" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HW8.Models.HW8Context, HW8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HW8Context-Web.config Connection String">
      <ParameterValue>Data Source=cs460hw8ming.database.windows.net;Initial Catalog=CS460HW8Ming;Persist Security Info=True;User ID=liming;Password=09NOTloser</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>