
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*Generate the table here*@
<table id="Table"></table>


@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/totalBooty.js"></script>
}