
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is the home page of the homework 4 in CS460.</p>

<ul>
    @*Link to the Homework Page *@
    <li><a href="https://github.com/mingli14/CS460HomeWork">Homework Page in CS460</a></li>
    @*Link to the Page1 *@
    <li>@Html.ActionLink("Page 1", "Page1", "Home")</li>
    @*Link to the Page2 *@
    <li>@Html.ActionLink("Page 2", "Page2", "Home")</li>
    @*Link to the Page3 *@
    <li>@Html.ActionLink("Page 3", "Page3", "Home")</li>
</ul>