
@{
    ViewBag.Title = "Page1";
}

<h2>Page1</h2>

<p>Enter the username and the password to create a new account.</p>

<form method="get">
    @*Input the data *@
    <input type="text" name="itemA" value="UserName?" />
    @*Input the data *@
    <input type="text" name="itemB" value="Password?" />
    @*Create the submit button *@
    <input type="submit" name="submit" value="Submit" />
</form>