@model IEnumerable<Final.Views.Shared.Genres>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Final</h1>
    <p>Welcome to the Final.</p>
</div>

@foreach (var item in Model)
{
    <div>@Html.DisplayFor(modelItem => item.Name)</div>
    <form>
        <input id="request" type="button" name="request" value="@Html.DisplayFor(modelItem => item.Name)" />
    </form>
}

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/table.js"></script>
}